<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Please Enter Your Name, Email, and Password</h1>
    <h2>Or You can <a href="/login">login</a> if you already have an account.</h2>
    <form method="post" action="/signup">
      <h2>Name:<input type="text" id="username" name="username"></h2>
      <h2>Email:<input type="text" id="email" name="email"></h2>
      <h2>Password:<input type="password" id="password" name="password"></h2>
      <input type="submit" value="Signup">
    </form>
  </body>
</html>